@import "extras/globals";
@import "extras/buttons";
@import "extras/cards";
@import "extras/section";

//variables
:root {
  --primaryColor: #0062f4;
  --secondaryColor: #26fff2;
  --white: #f3f3f3;
  --dark: #212b34;
}

// HEADER STYLES
.header {
  height: 100vh;
  background: url("../images/hero_bg.svg") no-repeat;
  background-size: cover;
  background-position: bottom;
  padding: 1rem 3rem !important;
  color: var(--white);
  // nav styles
  nav {
    display: flex;
    justify-content: space-between;
    .nav-items {
      display: flex;
      list-style-type: none;
      align-items: center;
      .nav-item {
        text-transform: uppercase;
        padding: 0 1rem;
        font-weight: 600;
        font-size: 0.8rem;
        letter-spacing: 1px;
      }
    }
  }

  // header intro styles
  .intro-container {
    display: flex;
    align-items: center;
    .intro {
      padding: 1rem 2rem;
      width: 60%;
      h1 {
        font-size: 3rem;
        line-height: 90px;
        letter-spacing: 0.01em;
      }
      p {
        font-size: 1rem;
        letter-spacing: 0.01em;
        color: rgba(249, 249, 249, 0.95);
      }
      .btn-group {
        margin: 3rem 0;
      }
    }
    .hero-img {
      width: 40%;
      img {
        transform: translateY(2.5rem);
        width: 100%;
      }
    }
  }
}

// FEATURES SECTION
#features {
  .card-container {
    .card {
      min-width: 20rem;
    }
  }
}

// TEAM SECTION
#team {
  .card-container {
    .card {
      min-width: 15rem;
      padding: 1rem 2rem;
      .card-icon {
        height: 5rem;
        margin: 1rem 0;
      }
      .designation {
        padding: 0.2rem 1rem;
        margin-top: 2rem;
        border-radius: 30px;
        background-color: lighten($color: #0062f4, $amount: 45%);
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--primaryColor);
      }
    }
  }
}

// DOWNLOAD SECTION
#download {
  margin: 7rem 0;
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    margin: 0 auto;
    width: 60rem;
    height: 18rem;
    background: linear-gradient(107deg, #0062f4 -0.4%, #26fff2 106.4%);
    border-radius: 10px;
    .section-title {
      margin-top: 4rem;
      margin-bottom: 1.5rem;
      color: var(--white);
    }
    img {
      position: absolute;
      bottom: -40px;
    }
  }
}

// FOOTER
footer {
  width: 90%;
  margin: 1rem auto;
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      font-weight: 600;
      font-style: italic;
      letter-spacing: 1px;
    }
    .icon-group i {
      cursor: pointer;
      &:hover {
        color: var(--primaryColor);
      }
      &:not(:last-child) {
        margin-right: 0.5rem;
      }
    }
  }
}

// scroll to top button
.scrollToTop {
  position: fixed;
  bottom: 30px;
  border-radius: 25px;
  right: 10px;
  outline: none;
  border: none;
  padding: 1rem;
  cursor: pointer;
  background: var(--white);
  &:hover {
    box-shadow: 6px 7px 23px rgba(22, 22, 22, 0.164);
  }
}
