:root {
  --primaryColor: #0062f4;
  --secondaryColor: #26fff2;
  --white: #f3f3f3;
  --dark: #212b34;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body,
html {
  scroll-behavior: smooth;
}

.btn {
  padding: 1rem 2rem;
  border-radius: 3px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 600;
}

.primary-btn {
  background-color: var(--white);
  outline: none;
  border: none;
  margin-right: 1rem;
  color: var(--dark);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.primary-btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 2px 4px 27px rgba(17, 17, 18, 0.158);
          box-shadow: 2px 4px 27px rgba(17, 17, 18, 0.158);
}

.secondary-btn {
  padding: 0.9rem 2rem;
  border: 1px solid var(--white);
  background-color: transparent;
  color: var(--white);
}

a {
  text-decoration: none;
  color: var(--white);
}

.section-intro {
  text-align: center;
  margin: 2rem auto;
  width: 60%;
}

.section-name {
  color: var(--primaryColor);
  font-style: italic;
  font-weight: 700;
  font-size: 0.8rem;
  line-height: 32px;
  letter-spacing: 0.05em;
}

.section-name::before {
  content: "";
  height: 3px;
  width: 2.5rem;
  display: inline-block;
  margin-right: 0.3rem;
  background-color: var(--primaryColor);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.section-title {
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 50px;
  letter-spacing: 0.02em;
  color: var(--dark);
}

.section-desc {
  font-weight: normal;
  font-size: 1rem;
  text-align: center;
  letter-spacing: 0.01em;
  padding: 1.5rem 0;
  color: #585858;
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 5rem 0;
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
  border-radius: 10px;
  margin: 1rem 2rem;
  padding: 0 1.2rem;
  -webkit-transition: -webkit-transform 0.7s ease;
  transition: -webkit-transform 0.7s ease;
  transition: transform 0.7s ease;
  transition: transform 0.7s ease, -webkit-transform 0.7s ease;
}

.card:hover {
  -webkit-box-shadow: 5px 20px 43px rgba(14, 14, 49, 0.15);
          box-shadow: 5px 20px 43px rgba(14, 14, 49, 0.15);
  -webkit-transform: scale(1.05) !important;
          transform: scale(1.05) !important;
}

.card-icon {
  height: 30%;
  margin: 1rem 0;
}

.card-title {
  color: var(--dark);
  margin-bottom: 1rem;
}

.card-desc {
  text-align: center;
  font-weight: normal;
  font-size: 1rem;
  letter-spacing: 0.01em;
  color: #000000a1;
}

.header {
  height: 100vh;
  background: url("../images/hero_bg.svg") no-repeat;
  background-size: cover;
  background-position: bottom;
  padding: 1rem 3rem !important;
  color: var(--white);
}

.header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header nav .nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header nav .nav-items .nav-item {
  text-transform: uppercase;
  padding: 0 1rem;
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.header .intro-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .intro-container .intro {
  padding: 1rem 2rem;
  width: 60%;
}

.header .intro-container .intro h1 {
  font-size: 3rem;
  line-height: 90px;
  letter-spacing: 0.01em;
}

.header .intro-container .intro p {
  font-size: 1rem;
  letter-spacing: 0.01em;
  color: rgba(249, 249, 249, 0.95);
}

.header .intro-container .intro .btn-group {
  margin: 3rem 0;
}

.header .intro-container .hero-img {
  width: 40%;
}

.header .intro-container .hero-img img {
  -webkit-transform: translateY(2.5rem);
          transform: translateY(2.5rem);
  width: 100%;
}

#features .card-container .card {
  min-width: 20rem;
}

#team .card-container .card {
  min-width: 15rem;
  padding: 1rem 2rem;
}

#team .card-container .card .card-icon {
  height: 5rem;
  margin: 1rem 0;
}

#team .card-container .card .designation {
  width: 5rem;
  height: 1.5rem;
  margin-top: 2rem;
  border-radius: 30px;
  background-color: #dbe9ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--primaryColor);
}

#download {
  margin: 7rem 0;
}

#download .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 0 auto;
  width: 60rem;
  height: 18rem;
  background: linear-gradient(107deg, #0062f4 -0.4%, #26fff2 106.4%);
  border-radius: 15px;
}

#download .wrapper .section-title {
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  color: var(--white);
}

#download .wrapper img {
  position: absolute;
  bottom: -40px;
}

.scrollToTop {
  position: fixed;
  bottom: 10px;
  border-radius: 25px;
  right: 10px;
  outline: none;
  border: none;
  padding: 1rem;
  cursor: pointer;
  background: var(--white);
}

.scrollToTop:hover {
  -webkit-box-shadow: 6px 7px 23px rgba(22, 22, 22, 0.164);
          box-shadow: 6px 7px 23px rgba(22, 22, 22, 0.164);
}
/*# sourceMappingURL=style.css.map */