.btn {
  padding: 1rem 2rem;
  border-radius: 3px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 600;
}
.primary-btn {
  background-color: var(--white);
  outline: none;
  border: none;
  margin-right: 1rem;
  color: var(--dark);
  transition: all 0.5s ease;
  &:hover {
    color: var(--primaryColor);
    transform: scale(1.05);
    box-shadow: 2px 4px 27px rgba(17, 17, 18, 0.158);
  }
}
.secondary-btn {
  padding: 0.9rem 2rem;
  border: 1px solid var(--white);
  background-color: transparent;
  color: var(--white);
  span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    &::after {
      content: "\00bb";
      position: absolute;
      opacity: 0;
      top: 0;
      right: -15px;
      transition: 0.5s;
    }
  }
  &:hover {
    span {
      padding-right: 25px;
      &::after {
        opacity: 1;
        right: 0;
      }
    }
  }
}
