@media only screen and (max-width: 600px) {
  .header {
    nav .nav-items {
      display: none;
    }

    .intro-container {
      flex-direction: column;
      .intro {
        padding: 2rem 0;
        width: 100%;
        text-align: center;
        h1 {
          font-size: 7vw;
        }
        .btn-group {
          display: flex;
          justify-content: center;
          align-items: center;
          .btn {
            padding: 0.8rem 1.5rem;
          }
        }
      }
      .hero-img {
        width: 80%;
        img {
          transform: translateY(-55px);
          width: 100%;
        }
      }
    }
  }
}
